<div class="container" style="margin-top: 50px">

<%# bannertest %>

  <div class="home-view">
    <div class="text-center">
      <div class="p-5">
        <h1><%= @vault.name %></h1>
        <p class="pt-5">
          <%= @vault.description %>
        </p>

      </div>
    </div>
  </div>


        <div class="">
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar  text-dark" style="width: <%= (@vault.current_amount_vault/@vault.donation_amount) * 100 %>%"></div>
          </div>


        <div class="d-flex justify-content-between p-3">
          <div><h6>current donation: €<%= @vault.current_amount_vault %>0</h6></div>
          <div><h6>Goal: €<%= @vault.donation_amount %>0</h6></div>

        </div>

      </div>



  <%= simple_form_for @donation do |f| %>
  <%= f.hidden_field :vault_id, value: @vault.id %>
    <%= f.input :contribution %>
    <%= f.submit "submit", class: "btn btn-sm btn-primary btn-block mt-2" %>
  <% end %>






</div>
