<div class="container">
  <h1>New event</h1>

  <%= simple_form_for event do |e| %>
    <div class="raw main">
        <%= e.input :name, hint: 'please give a descriptive title for your event' %>
    </div>

        <div class="raw main">
      <%= e.input :address, hint: 'location of the event' %>
    </div>

    <div class="raw main">
      <%= e.input :description, hint: 'describe why you are creating this raising event' %>
    </div>

        <div class="col-5">
      <%= e.input :photo, as: :file %>
    </div>

    <div class="raw main">
      <%= e.input :goal_amount, hint: 'the amount of money you would like to raise' %>
    </div>

            <div class="raw main">
      <%= e.input :vault_id, collection: @vaults, hint: 'Housing, Medical or Education', value_method: :id %>
    </div>

    <div class="raw main">
      <%= e.input :opening_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
    </div>

        <%= e.submit class: 'border rounded-pill custom-class' %>
    </div>
  <% end %>

</div>
