<% counter = 250 %>


<h1>Index</h1>
<div>
  <% specific_vault_cat1 = @vaults.find(1) %>
  <% specific_vault_cat2 = @vaults.find(2) %>
  <% specific_vault_cat3 = @vaults.find(3) %>
  <h1><%= specific_vault_cat1.name %> vault current amount:   <%=  specific_vault_cat1.current_amount_vault.to_i %>€</h1>
  <h1>  <%= specific_vault_cat2.name %> vault current amount:   <%=  specific_vault_cat2.current_amount_vault.to_i %>€</h1>
  <h1>  <%= specific_vault_cat3.name %> vault current amount:   <%=  specific_vault_cat3.current_amount_vault.to_i %>€</h1>
</div>


<hr>
<div>
  <button style="background-color:black;color:white">Create an event</button>
</div>

<div class="indexGridContainer">
  <% @events.each do |event| %>
  <div style="background-color: rgb(<%= counter %>, 0, 0,0.1)  "class="mainIndexCard">
        <h3>Event: <%= event.name %></h3>
        <h2>Goal amount: <%= event.goal_amount %></h2>
        <p>Location: <%= event.location %></p>
       <% specific_vault = @vaults.find(event.vault_id) %>
      <h5>Vault: <%= specific_vault.name %></h5>

  </div>
     <% counter -= 15 %>
    <% end %>

</div>
