<% counter = 250 %>
<h1>Index</h1>

<div>
  <% @vaults.each do |v| %>
    <h1><%= v.name %> vault current amount:   <%=  v.current_amount_vault.to_i %>€</h1>
  <% end %>
</div>

<div>
  <button style="background-color:black;color:white">Create an event</button>
</div>

<div class="indexGridContainer">
  <% @events.each do |event| %>
  <div style="background-color: rgb(<%= counter %>, 0, 0,0.1)  "class="mainIndexCard">
        <h3>Event: <%= event.name %></h3>
        <h2>Goal amount: <%= event.goal_amount %></h2>
        <p>Location: <%= event.location %></p>
       <% specific_vault = @vaults.find(event.vault_id) %>
      <h5>Vault: <%= specific_vault.name %></h5>
  </div>
     <% counter -= 15 %>
    <% end %>
</div>
