<% counter = 250 %>
<div class= "parentDiv">
  <h1>Index</h1>

  <div class="vaultFlexParent">
    <% @vaults.each do |v| %>
    <div class="vaultFlexChild">
      <h1><%= v.name %> vault: <%=  v.current_amount_vault.to_i %>€</h1>
      </div>
    <% end %>
  </div>

  <div>
    <button id="createEventButton" style="background-color:black;color:white">Create an event</button>
  </div>

  <hr>

  <div  class="indexGridContainer">
      <% @events.each do |event| %>
      <%= link_to event, :style=>'color: black;', :action => 'go' do %>
      <div class="mainIndexCard">
        <div id="cardTitle">
          <h3>Event: <strong><%= event.name %></strong></h3>
        </div>
        <div class="mainIndexCardContent">

          <h4>Goal amount: <strong><%= event.goal_amount.to_i %>€</strong></h4>
          <% specific_vault = @vaults.find(event.vault_id) %>
          <h4>Vault: <strong><%= specific_vault.name %></strong></h4>
            <h5>Location: <strong><%= event.location %></strong></h5>
            <% userIndex = @users.find( event.user_id) %>
            <h6><%= userIndex.first_name %> <%= userIndex.last_name %></h6>
        </div>
      </div>
      <% counter -= 15 %>
      <% end %>
          <% end %>
  </div>

</div>
