  <div style="height:150px;">

  </div>

  <div class="container">

      <div class=" m-1">
          <%# progress bar %>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar  text-dark" style="width: <%= (@event.current_amount / @event.goal_amount) * 100 %>%"></div>
          </div>

          <div class="d-flex justify-content-between p-3">
            <div><h6>Current Donation: <%= @event.current_amount.to_i %>€</h6></div>
            <div><h6>Donation Goal: <%= @event.goal_amount.to_i %>€</h6></div>
          </div>
      </div>
        <%# // progress bar %>

      <div class="raw d-flex mt-5">
        <div class="col-7 p-3 shadow-sm me-3">
          <div class="mt-3">
            <div><h3><%= @event.name%> </h3></div>
          </div>
            <%# //event title %>

                <%# event date: %>
          <div class="  mt-5">
            <p><span class="text-black"><strong><i class="fa-solid fa-calendar-days me-2"></i></strong></span> <%= @event.opening_date %></p>
          </div>
          <%# //event date %>

          <%# event description: %>
          <div class="   mt-3">
            <p><span class="text-black"><strong>Description: </strong></span> <%= @event.description %>.</p>
          </div>
          <%# //event description %>

          <%# event location: %>
          <div class="  mt-3">
            <p><span class="text-black"><strong><i class="fa-solid fa-location-dot me-2"></i></strong></span> <%= @event.address %></p>
          </div>
          <%# //event location %>

          <%# event organiser: %>
          <div class=" mt-3">
            <p><span class="text-black me-1"><strong>Event organised by:</strong></span><%= @event.user.first_name.capitalize %> <%= @event.user.last_name.capitalize %></p>
          </div>
          <%# //event location %>
        </div>


        <div class="col-5 shadow-sm">
          <div class="donation-sec p-3">
            <% if flash[:alert] %>
              <div class="alert alert-danger">
                <%= flash[:alert] %>
              </div>
                <% end %>

              <%= simple_form_for @donation, url: donations_path do |f| %>
              <%= f.hidden_field :event_id, value: @event.id %>
              <%= f.input :contribution, label: 'Donation amount', hint: '(type in desired donation amount)', required: true %>
              <%= f.submit "Donate Now!", class: "w-100 nav-link text-light login-button" %>
              <% end %>
          </div>

          <%# attendees %>
          <div class="attendees-sec p-3">
            <h4>Attendees:</h4>
            <div class="flexAttendeesParent" >

                <% if @attendees.size > 0 %>
                  <% @attendees.last(2).reverse.each do |user| %>
                    <div class="flexAttendeesChild d-flex mb-2">
                      <% attendee = @users.find(user.user_id) %>
                      <img style="height:50px; border-radius: 50%" src="<%= attendee.profile_picture %>" alt="">
                      <h6 class="mt-3 ms-2"><%= attendee.first_name %> <%= attendee.last_name %></h6>
                    </div>
                  <% end %>
                  <% if @attendees.size > 2 %>
                    <h6 class="mt-3 ms-2">and <%= @attendees.size - 2 %> others</h6>
                  <% end %>
                <% else %>
                  <h6 class="d-flex justify-content-center">No attendees at this event yet...</h6>
                <% end %>
              </div>
            </div>



            <%# join button %>
              <div data-controller="joinbtn">
                    <%= simple_form_for [@event, @attendee] do |f| %>
                        <% if @existed_attendee %>
                      <%= f.submit "Joined", class: "nav-link text-light login-button btn btn-sm btn-primary btn-block mt-2 rounded-pill disabled" %>
                    <% else %>
                      <%= f.submit "Join", class: " w-100 nav-link text-light login-button" %>
                    <% end %>
                    <% end %>
              </div>
          </div>
        </div>

      </div>


    <div class="row mb-5 mt-5">
      <div class="col">
        <div style="width: 100%; height: 250px; margin-bottom:20px;"
          class = "col events-show-card shadow-sm m-1"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

</div>
