
<div class="container mt-5">
<div class="p-5">
<h1>HELLO WORLD</h1>
<h2>name:<%= @event.name %></h2>
<p>description:<%= @event.description %></p>
<p>location:<%= @event.location %></p>
<p>goal_amount:<%= @event.goal_amount %></p>
<p>current_amount:<%= @event.current_amount %></p>
<p>picture: <%= @event.photo %></p>
</div>




  <%= simple_form_for @donation do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.input :contribution %>
    <%= f.submit "submit", class: "btn btn-sm btn-primary btn-block mt-2" %>
  <% end %>
</div>
