
<div class="container mt-5">
<div class="p-5">
<h1>HELLO WORLD</h1>
<h2>name:<%= @event.name %></h2>
<p>description:<%= @event.description %></p>
<p>location:<%= @event.location %></p>
<p>goal_amount:<%= @event.goal_amount %></p>
<p>current_amount:<%= @event.current_amount %></p>
<p>picture: <%= @event.picture %></p>
</div>
</div>
