<br>
<br>
<br>
<br>
<br>
<div class="container">

  <div class="dashboard-amount-card d-flex justify-content-between align-items-center mb-3">
    <%# total amount raised %>
    <div>
      <h1>€<%= @contribution_sum %></h1>
      <p>Raised from your events.</p>
    </div>
    <%# //total amount raised %>

    <div>
      <%# total amount donated %>
      <h1>€<%= @donation_sum %></h1>
      <p>That you have donated so far!</p>
    </div>
    <%# //total amount donated %>

  </div>

<%# accordion example %>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
    <button class="accordion-button collapsed d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      <div class="d-flex flex-column text-container">
        <span class="span-title">My Events</span>
        <span>You have created <%= @events.count %> events</span>
      </div>
      </button>
      </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          <%# accordion body %>
          <% if @events.any?%>
            <% @events.each do |event| %>
              <div class="event-item d-flex justify-content-between align-items-center mb-3">
                <p class="mb-0">Event: <%= event.name %></p>
                <%# event button %>
                <%= link_to event_path(event), class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">Go to your event</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
          <% end %>
          <%# if there are no events: %>
        <% else %>
        <div class="event-item d-flex justify-content-between align-items-center mb-3">
              <p class="mb-0">You have not created any events yet</p>
              <%# event button %>
              <%= link_to new_event_path, class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">Create an event</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
        <% end %>
        <%# end %>
        </div>
      </div>
    </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <div class="d-flex flex-column text-container">
                    <span class="span-title">My Donations</span>
                    <span>You have made <%= @donations_events.count + @donations_vaults.count%> donations</span>
                </div>
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <%# accordion body %>

        <%# if you donated to an event %>
        <% if @donations_events.any?%>
          <% @donations_events.each do |donation| %>
          <div class="event-item d-flex justify-content-between align-items-center mb-3">
            <p class="mb-0">You donated €<%= donation.contribution%> to <%= donation.event.user.first_name.capitalize%>'s event</p>
              <%# link to donation success page %>
              <%= link_to donation_success_path(donation), class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">View your donation confirmation</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
          <% end %>
          <%# if you donated to a vault: %>
        <% @donations_vaults.any?%>
          <% @donations_vaults.each do |donation| %>
            <div class="event-item d-flex justify-content-between align-items-center mb-3">
              <p class="mb-0">You donated €<%= donation.contribution%>0 to the <%= donation.vault.name%> vault</p>
                <%# link to donation success page %>
                <%= link_to donation_success_path(donation), class: "text-decoration-none" do %>
                  <button class="border rounded-pill dashboard-button">
                    <span class="dashboard-button-text">View your donation confirmation</span>
                    <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
          <% end %>

        <% else %>
        <div class="event-item d-flex justify-content-between align-items-center mb-3">
              <p class="mb-0">You have not made any donations yet</p>
              <%# event button %>
              <%= link_to events_path, class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">Find an event</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
        <% end %>



        <%# end %>
        </div>
      </div>
    </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <div class="d-flex flex-column text-container">
                    <span class="span-title">Attending Events</span>
                    <span>You are attending <%= @attendees.count %> events</span>
                </div>
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <%# body %>

      <% if @attendees.any?%>
            <% @attendees.each do |attendee| %>
              <div class="event-item d-flex justify-content-between align-items-center mb-3">
                <p class="mb-0">Event: <%= attendee.event.name %></p>
                <%# attendee button %>
                <%= link_to event_path(attendee.event), class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">Go to your upcoming event</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
          <% end %>
          <%# if there are no attendees: %>
        <% else %>
        <div class="event-item d-flex justify-content-between align-items-center mb-3">
              <p class="mb-0">You are not attended any events yet</p>
              <%# attendee button %>
              <%= link_to events_path, class: "text-decoration-none" do %>
                <button class="border rounded-pill dashboard-button">
                  <span class="dashboard-button-text">Find an event</span>
                  <svg class="dashboard-button-arrow" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h13M12 5l7 7-7 7"/>
                  </svg>
                </button>
              <% end %>
            </div>
        <% end %>

        <%# end %>
        </div>
      </div>
    </div>
  </div>


</div>
