
  <div class="header">
  <div class="header-content">
   <h1>Pay Before</h1>
      <p class="element pt-5" data-controller="typed-text">
      </p>
       <div class="home-btn mt-5 d-flex justify-content-center align-items-center">
          <%= link_to events_path, class: "text-decoration-none" do %>
          <button class="border rounded-pill">
          <span>Events</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg></button>
        <% end %>
        </div>
  </div>
  </div>

      <%# Mission %>
      <div class="item-mission mb-5">
        <div class=" item-about">
          <h2>Mission</h2>
          <p>Everyone needs help at some point, just  not at the same time. <br><br>
          PayBefore is dedicated to help those who find themselves trapped in a negative circle of financial obligations. <br><br>
          A large percent of the population worldwide struggle with unpaid bills at the end of the month. Not due to lack of effort but simply because of financial need. The core mission of this project is to help those who need help the most by building a bridge between anonymous people. <br><br><br>
          PayBefore helps anyone who wants to regain control of their financial well-being with donations from strangers.
          </p>
        </div>
      </div>


    <%# Vaults %>
    <div class="container mt-5">
      <%= render partial: "vaults/vaults" %>
    </div>

      <%# Ticker %>
    <div class="container justify-content-center tickerFlexParent">
       <div class="shadow mt-5 tickerFlexChild">
        <h3>Total amount raised:</h3>
        <% total_amount_raised = 0 %>
        <% @events.each do |e| %>
          <% total_amount_raised += e.current_amount %>
        <% end %>
        <% @vaults.each do |v| %>
          <% total_amount_raised += v.current_amount_vault %>
        <% end %>
        <h2><%= total_amount_raised.to_i %>€</h2>
       </div>

        <div class="shadow mt-5 tickerFlexChild">
        <% total_amount_donations = 0 %>
        <h3>Number of donations:</h3>
        <h2><%= @donations.size %></h2>
        </div>

       <div class="shadow mt-5 tickerFlexChild">
       <h3>Events completed:</h3>
       <h2><%= @successful_events.size %></h2>
       </div>
    </div>


</div>
